<!DOCTYPE html>
<html lang="en-US">
	<head>
		<script>
			function messageListener(event){
		        //console.log("MESASGE RECEIVED");
		        //console.log(event.origin);
		        try{
			    	document.getElementById("ifResultsPane").parentNode.style.background = "";
			        eval(event.data.userAlgorithm);
			        displayResults(main(remap(event.data.rawData)), window.location.protocol + "//" + window.location.host);
			    }catch(err){
					document.getElementById("ifResultsPane").innerHTML = "";
			    	document.getElementById("ifResultsPane").parentNode.style.background = "#AA0000";
		            document.getElementById("ifResultsPane").innerHTML = "<p>" +  err.toString() + "</br>" + "Check the JS console!</p>";
			    }
		    }


			function displayResults(toDisplay, urlheader){
				//console.log("Runnnig");
				document.getElementById("ifResultsPane").innerHTML = "";
		        for(var i = 0; i < 25; i++){ //toDisplay.length; i++){
		            var teamCont = document.createElement('div');
		            var logo = document.createElement('img');
		            logo.src =  urlheader + '/assets/team_logos/' + toDisplay[i].team_code + '.png';
		            logo.width='40';
		            teamCont.appendChild(logo);
		            teamCont.innerHTML += "<p>" + (i+1) + ': ' + toDisplay[i].name + '</p>' + '</br>' ;//+ '<img alt="maybe" src="http://do-book.stanford.edu:3000/assets/team_logos/' + toDisplay[i].team_code + '.png">';
		            document.getElementById("ifResultsPane").appendChild(teamCont);
		        }
    		}


			function runFunction(urlheader){
		        window.onload = function(){
		            if(window.addEventListener){
		                addEventListener("message", messageListener, false);
		            } else{
		                attachEvent("onmessage", listener);
		            }
		            //console.log(rankArray);
		            /*
		            var rankArray = remap(rankArray);
		            try{
		                var toDisplay = main(rankArray);
		                displayResults(toDisplay, urlheader);
		            }
		            catch(err){
		                document.getElementById("resultsPane").parentNode.style.background = "#AA0000";
		                document.getElementById("resultsPane").innerHTML = "<p>" +  err.toString() + "</br>" + "Check the JS console!</p>";
		            }
		            */
		        };
		    }

		    function remap(jsonData){
			    var namesMap = {};
			    for(var i = 0; i < jsonData.length; i++){
			        namesMap[jsonData[i].name] = jsonData[i];
			    }

			    var gameMap = {};
			    for(var i = 0; i < jsonData.length; i++){
			        var team = jsonData[i];
			        for(var j = 0; j < jsonData[i].schedule.length; j++){
			            var game = team.schedule[j];
			            game.opp = namesMap[game.opp];
			            game.team = jsonData[i];
			            var mirror = gameMap[game.game_code];
			            if(!mirror){
			                gameMap[game.game_code] = game;
			            }
			            else{
			                game.opp_game = mirror;
			                mirror.opp_game = game;
			            }
			        }
			    }
			    return jsonData;
			}
	        window.onload = function(){
	            if(window.addEventListener){
	                addEventListener("message", messageListener, false);
	            } else{
	                attachEvent("onmessage", listener);
	            }
	            //console.log(rankArray);
	        }
		</script>
	</head>
	<body>
		<div id='ifResultsPane'></div>
	</body>
</html>





