body{
	background-image: url('noisy-texture.png');
	overflow: hidden;
}

@font-face{
	font-family: fridayNightLights;
	src: url('FNL_DEMO-KCFonts.ttf');
}
p.saveOptionName,
p.saveOptionDate{
	font-family: sans-serif;
}
#ifResultsPane{
	background-color: rbga(73,72,62, .9);
}
.rankContainer{
	overflow: hidden;
	border: 1px solid black;
}
.rankNumber{
	float: left;
	font-size: 20px;
	height: 100%;
	border-right: 1px dotted gray;
}
.teamBox{
	overflow: hidden;
	float: left;
	margin: 0 auto;
}

.teamBoxLogo{
	float: left;
	width: 28px;
}

.teamBoxName{
	float: left;
	margin: 0 auto;
	color: #BBB;
}



.hidden{
	display: none;
}

.sideContentWrapper > .sideContentContainer{
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.sideContentWrapper{
	width: 25%;
	float: left;
	height: 100%;
	background-color: rgba(153,153,159, .2);
	vertical-align: middle;
}

.saveButtons *{
	float: left;
}

.saveControlsBox{
}

.saveOption{
	border: 1px dotted white;
	overflow: hidden;
	font-family: serif;
	cursor: pointer;
}

.saveOption:hover{
	background-color: #A7AAB6;
}

#rankPaneContainer{
	float: left;
	width: 300px;
	height: auto;
}

.popupDialogContainer{
	background-color: #FF0000;
	color: white;
	background-color: rgba(20, 20, 20, 0.9 );
	z-index: 999;
	border: 1px solid white;
}

.deleteButton{
	float: right;
}

.mainContentWrapper{
	overflow: hidden;
	float: left;
}

#rankPaneContainer{
}

.nonExpanding{
	overflow: hidden;
}

.banner{
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}

.bannerText{
	display: inline;
	font-size: 60px;
	font-family: fridayNightLights;
	color: yellow;
}


.loginControls{
	float:right;
}
.sideContentContainer{
	width: 98%;
	border: 1px solid black;
	overflow: hidden;
}

.mainContentContainer{
	width: 100%;
	overflow: hidden;
}


#codeEditor{
	width: 100%;
	border: 1px solid black;
}

.threeColArea{
	height: 100%;
	overflow: hidden;
}

html, body{
	height: 100%;
}

#rankPane{
	background-color: #999;
	height: 100%;
	padding: 10px;
	border: 2px solid gray;
	width: 86%;
	margin: 0px auto;
}

#resultsPane{
	background-color: #888;
	height: 95%;
	width: 96%;
	margin: 0 auto;
	border-right: none;
	border-bottom: none;
	display: block;
}

.controlsBox *{
	/*float: left;*/
}
.dataSelectorsForm{
	float: left;
}


.clearingDiv{
	clear: both;
}

.loadWheelDiv{
	height: 20px;
	width: 20px;
	float: left;
}

.saveLoadWheelDiv{
	height: 20px;
	width: 20px;
	margin: 0px auto;
	float: left;
}

.loadWheelDiv:after{
	clear: both;
}

.controlsBox{
	display: inline;
}


.saveTextBox{
	float: left;
	font-family: sans-serif;
}

.savesPaneContainer{
	width: 1px;
}

.savesPaneContainer:hover{
	width: 84%;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(13,14,19,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(13,14,19,0.4);
}
/*
#interfacePane{
	background-color: #CCC;
	width: 100%;
	height: 100%;
}

.hidden{
	display: none;
}

.saveButtonContainer{
	display:inline;
}

.clear{
	clear: both;
}
.saveOption{
	display: inline-block;
}
.controlsBox{
	display: inline;
	clear: both;
}

.controlsBox *{
	float: left;
}

.saveControlsBox{
	overflow: hidden;
}
.saveTextBox{
	float: left;
}
.sdsaveControlsBox *{
}

#prevSavesPane{
	background-color: #AAA;
	height: 100%;
	padding: 10px;
	border: 2px solid grey;
	float: left;
	clear: left;
	width: 21%;
}

#contentPane{
	background-color: #BBB;
	height: 100%;
	padding: 10px;
	border: 2px solid grey;
}

#outputPane{
	background-color: #999;
	height: 100%;
	padding: 10px;
	border: 2px solid grey;
	float: right;
	width: 21%;
}

.sideContentContainer{
	width: 25%;
	height: auto;
}

.mainContentContainer{
	width: 50%;
	height: auto;
}

#rankPane{
	background-color: #999;
	height: 80%;
	padding: 10px;
	border: 2px solid grey;
	float: right;
	width: 90%;
}
.loadWheelDiv{
	width: 8%;
	height: 8%;
}

#resultsPane{
	background-color: #888;
	width: 95%;
	float: none;
	height: 95%;
	border-right: none;
	border-bottom: none;
	display: block;
}

#workPane{
	height: 100%;
	width: 46%;
	float: left;
}

#codeEditor{
	height: 90%;
	width: 100%;
}

html, body{
	height: 100%;
}
*/
