/*======================================================================
	Selectric
======================================================================*/
.selectricWrapper { position: relative; margin: 0; margin-top: 0px; width: 80px; display: inline-table; cursor: pointer; height: 36px;}
.selectricDisabled { filter: alpha(opacity=50); opacity: 0.5; cursor: default; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.selectricOpen { z-index: 9999; }
.selectricHideSelect { position: relative; overflow: hidden; }
.selectricHideSelect select { position: absolute; left: -100%; }
.selectric { border: 1px solid black; background: rgba(10, 10, 10, .5); position: relative; border-radius: 0px; height: 29px; }
.selectricOpen .selectric { border-color: #444; background: rgba(10, 10, 10, .5); z-index: 9999; }
.selectric .label { display: block; white-space: nowrap; overflow: hidden; margin: 0 30px 0 0; padding-left: 8px; padding-top: 4px; font-weight: bold; font-size: 14px; line-height: 1.5; color: #444; font-family: Trebuchet MS; }
.selectric .button { position: absolute; right: 0; top: 0; height: 30px; width: 30px; color: #BBB; text-align: center; font: normal 18px/30px sans-serif; }
.selectricHover .selectric { border-color: #444; box-shadow:inset 0px 1px 12px 0px #4c4c4c;}
.selectricHover .selectric .button { color: #888; }
.selectricTempShow { position: absolute !important; visibility: hidden !important; display: block !important; }

/* Items box */
.selectricItems { display: none; position: absolute; overflow: auto; top: 100%; left: 2px; background: #292929; border: 1px solid rgb(20,20,20); z-index: 9998; box-shadow: 0 0 10px -6px; /* margin: -1px 0; */ }
.selectricItems ul,
.selectricItems li { list-style: none; padding: 0; margin: 0; min-height: 20px; line-height: 20px; font-size: 14px; font-weight: bold; font-family: Trebuchet MS; }
.selectricOpen .selectricItems { display: block; }
.selectricItems li { padding: 5px; cursor: pointer; display: block; border-bottom: 1px solid #111; color: #666; border-top: 0px solid #111; }
.selectricItems li.selected { background: #444; color: #888; border-top-color: #E0E0E0; }
.selectricItems li:hover { background: #666; color: #AAA; }
.selectricItems li.disabled { background: #F5F5F5; color: #BBB; border-top-color: #FAFAFA; }
